@model IEnumerable<ShoppingCartAssignment1.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>
<h1>@Html.Raw(ViewBag.msg);</h1>
<div class="row">
    @foreach (var item in Model)
    {
<div class="col-md-4 mb-4">
    <div class="card">
        <img class="card-img-top" src="@Url.Content(item.PImage)" alt="Product image">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.PName)</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.PDescription)</p>
            <p class="card-text">$@Html.DisplayFor(modelItem => item.PPrice)</p>
            <div class="d-flex justify-content-between">
                <div class="btn-group">
                    @Html.ActionLink("Details", "Details", "Product", new { id = item.PId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Add to Cart", "AddToCart", "Shopping", new { id = item.PId }, new { @class = "btn btn-info mx-1" })

                    
                </div>
            </div>
        </div>
    </div>
</div>
}
</div>






